.bg-gray{
	background-color:#E4E4E4;
}
.navbar .navbar-nav .active > a, 
.navbar .navbar-nav .active > a:focus, 
.navbar .navbar-nav .active > a:hover {
    color: #03a9f3;
}
.cropit-preview{
	background-color: #f8f8f8;
	background-size: cover;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-top: 7px;
	width: 200px;
	height: 200px;
}
.cropit-preview-image-container{
	cursor: move;
}
.cropit-preview img{
	max-width:none !important;
}
#header{
	background-color: rgb(0, 204, 153);
	/*border: 1px solid rgb(102, 102, 102);*/
}
#header .fa{
	color:#ffffff;
}
#header .navbar-header{
	background-color:transparent;
}
/*
aside.left-panel{
	background-color: rgb(204, 204, 204);
    border: 1px solid rgb(102, 102, 102);
}
aside.left-panel #main-menu{
	background-color: rgb(204, 204, 204);
}
.navbar .navbar-nav > li.active {
    background-color: rgb(141, 140, 140);
	color:#ffffff;
}
.navbar .navbar-nav .active > a, 
.navbar .navbar-nav .active > a:focus, 
.navbar .navbar-nav .active > a:hover {
    color: #ffffff;
}
.navbar .navbar-nav li > a:hover, 
.navbar .navbar-nav li > a:hover .menu-icon {
    color: #ffffff;
}
.navbar .navbar-nav li.active .menu-icon, 
.navbar .navbar-nav li:hover .toggle_nav_button:before, 
.navbar .navbar-nav li .toggle_nav_button.nav-open:before {
    color: #ffffff;
}
#main-menu>ul>li{
	height: 26px;
    padding: 0px 30px;
}
#main-menu>ul>li>a{
	padding: 0px;
}
*/
#left-panel .navbar-brand{
	width: 100%;
	height: 40px;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
#left-panel .navbar-brand>img{
	max-height: 100%;
}
.btn-header-def{
	border:1px solid #fff;
	color:#fff;
	background-color: rgb(0, 153, 153);
	width:70px;
}
.header-left .dropdown .dropdown-toggle {
	color: #fff;
	font-size: 14px;
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -moz-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    40% {
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
    60% {
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      transform: translateY(-10px);
    }
  }
  
  .bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
  }
  .header-menu label, .header-menu .fa{
	  font-size:18px;
  }